lightgbm
matplotlib==3.1.1
natsort==6.0.0
numpy==1.17.0
pandas==0.24.2
progressbar==2.5
pytz==2019.2
rasterio==1.0.24
scikit-learn==0.21.3
scipy==1.10.0
torchvision
torch
pyproj==2.2.1
tb-nightly
future
